# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
build/
dist/
# Backend (por si se compila)
backend/dist/

# Env (no versionar secretos)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE / OS
.DS_Store
.vscode/
.idea/

# Debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
